doctype html
html
  head
    title Dashboard
  body
    h1 Dashboard

    p Usuario: #{user.email}

    h2 Equipos

    if teams.length === 0
      p No tienes equipos
    else
      ul
        each team in teams
          li #{team.name}

    br
    a(href="/logout") Logout