extends layout

block variables
    - var pageClass = 'index-page'

block title
    title PokéBack: Tienda oficial Pokémon
      
block content
    h1 Panel de administración de PokéMe
    p Gestión de catálogo, pedidos y usuarios